@model HouseAccounting.Web.Models.Expenditures.ExpenditureListViewModel

<h2>Výdaje</h2>

<div class="panel panel-default">

    <div class="panel-heading">
        @Html.Partial("_QuickExpenditure", Model)
    </div>
    <div class="panel-body">
        <h4>Seznam výdajů</h4>
        <table class="table">
            <tr>
                <th>Datum</th>
                <th>Částka</th>
                <th>Popis</th>
                <th>Osoba</th>
                <th>Kategorie</th>
            </tr>

            @foreach (var expenditure in Model.Expenditures)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => expenditure.CreatedShortDate)
                    </td>
                    <td>
                        <b>
                            @{
                                var totalExpenditures = expenditure.Amount.ToCurrencyString();
                                @Html.DisplayFor(modelItem => totalExpenditures);
                            }
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => expenditure.Description)
                    </td>
                    <td>
                        @if (expenditure.Person != null)
                {
                            @Html.DisplayFor(modelItem => expenditure.Person.FirstName)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => expenditure.Category.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Editovat", "Edit", new { id = expenditure.Id }) |
                        @Html.ActionLink("Detail", "Details", new { id = expenditure.Id }) |
                        @Html.ActionLink("Smazat", "Delete", new { id = expenditure.Id })
                    </td>
                </tr>
                                }

        </table>
    </div>
</div>
