@model HouseAccounting.Web.Models.Expenditures.ExpenditureListViewModel
@using MvcPaging

<h2>Výdaje</h2>

<div class="panel panel-default">

    <div class="panel-heading">
        @Html.Partial("_QuickExpenditure", Model)
    </div>
    <div class="panel-body">
        <h4>Seznam výdajů</h4>
        <table class="table">
            <tr>
                <th>Datum</th>
                <th>Částka</th>
                <th>Popis</th>
                <th>Osoba</th>
                <th>Kategorie</th>
            </tr>

            @foreach (var expenditure in Model.Expenditures)
            {
                <tr>
                    <td>
                        @{
                            var created = expenditure.Created.ToShortDateString();
                            @Html.DisplayFor(modelItem => created);
                        }
                    </td>
                    <td>
                        <b>
                            @{
                                var totalExpenditures = expenditure.Amount.ToCurrencyString();
                                @Html.DisplayFor(modelItem => totalExpenditures);
                            }
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => expenditure.Description)
                    </td>
                    <td>
                        @if (expenditure.Person != null)
                {
                            @Html.DisplayFor(modelItem => expenditure.Person.FirstName)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => expenditure.Category.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Editovat", "Edit", new { id = expenditure.Id }) |
                        @Html.ActionLink("Detail", "Details", new { id = expenditure.Id }) |
                        @Html.ActionLink("Smazat", "Delete", new { id = expenditure.Id })
                    </td>
                </tr>
                                }

        </table>
    </div>
</div>
<div class="pager">
    

@Html.Raw(Ajax.Pager(

       new Options

       {
           PageSize = Model.PageSize,
           TotalItemCount = Model.TotalItemCount,
           CurrentPage = Model.PageNumber,
           ItemTexts = new ItemTexts() { Next = "Další", Previous = "Předchozí", Page = "", First = "První", Last = "Poslední" },
           ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
           TooltipTitles = new TooltipTitles() { Next = "Další strana", Previous = "Předchozí strana", Page = "Jít na stranu {0}.", First = "Jít na první stranu", Last = "Jít na poslední stranu" },
           Size = Size.normal,
           Alignment = Alignment.centered,
           IsShowControls = true,
           IsShowFirstLast = true
       },
       new AjaxOptions
       {
           UpdateTargetId = "grid-list",
           OnBegin = "beginPaging",
           OnSuccess = "successPaging",
           OnFailure = "failurePaging"
       }, new { controller = "Expenditure", action = "Index" }))

</div>
