@model HouseAccounting.Web.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <br />
</div>
<div class="container">
    @Html.Partial("_QuickExpenditure", Model)
</div>

<div class="panel-heading">
    <h4>Měsíční přehledy</h4>
</div>
<div class="panel-body">
    <table class="table">
        <tr>
            <th>Rok</th>
            <th>Měsíc</th>
            <th>Příjmy</th>
            <th>Výdaje</th>
            <th>Rozdíl</th>
        </tr>

        @foreach (var item in Model.MonthlyItems)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @{
                        var totalIncomes = item.TotalIncomes.ToCurrencyString();
                        @Html.DisplayFor(modelItem => totalIncomes);
                    }
                </td>
                <td>
                    @{
                        var totalExpenditures = item.TotalExpenditures.ToCurrencyString();
                        @Html.DisplayFor(modelItem => totalExpenditures);
                    }
                </td>
                <td>
                    @{
                        var remainder = item.Remainder.ToCurrencyString();
                        @Html.DisplayFor(modelItem => remainder);
                    }
                </td>
            </tr>
                        }
    </table>
</div>
