@model HouseAccounting.Web.Models.Persons.PersonListViewModel

@{
    ViewBag.Title = "Osoby";
}

<h2>Osoby</h2>

<p>
    @Html.ActionLink("Vytvořit novou osobu", "Create")
</p>
<table class="table">
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th></th>
    </tr>

@foreach (var person in Model.Persons) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => person.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=person.Id }) |
            @Html.ActionLink("Details", "Details", new { id=person.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=person.Id })
        </td>
    </tr>
}

</table>
